<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= username %></title>
</head>
<body>


<h1><%= username %></h1>
<br>
<h1 id="id"><%= id %></h1>
<br>
<p id="followers"></p>
<a href="http://localhost:3000/followers/<%= id %>">
	<button>Followers list</button>
</a>
<br>
<p onclick="followingsList()" id="followings"></p>
<a href="http://localhost:3000/followings/<%= id %>">
	<button>Followers list</button>
</a>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="text/javascript">
	async function getData(){
	const id = document.getElementById("id").value;
	console.log(id)
	const responseFollower = await axios.get(`http://localhost:3000/api/user/followerlist/<%= id %>`);
const responseFollowing = await axios.get(`http://localhost:3000/api/user/followinglist/<%= id %>`);
	
	const followers = responseFollower.data.data.total;
	const followings = responseFollowing.data.data.total;

	document.getElementById("followers").innerHTML = `Followers ${followers}`
	document.getElementById("followings").innerHTML = `Followings ${followings}`
}
window.onload = getData();
</script>
</body>
</html>